body{
	padding:20px;
}
#textinput{
	margin: 0;
	padding: 5px 15px;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
#checkbutton {
	margin: 0;
	padding: 5px 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
#checkbutton:hover {
	text-decoration: none;
	background: #007ead;
}
/* Fixes submit button height problem in Firefox */
#checkbutton::-moz-focus-inner {
  border: 0;
}

.severity {
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 5px 0px;
	padding: 6px 6px;
	color: #ffffff;
	opacity: 0.4;
}

#low{
	background-color:#5CB85C;
	border-radius: 4px 0px 0px 4px;
}
#med {
	background-color:#F0AD4E;
}
#high {
	background-color:#D43F3A;
	border-radius: 0px 4px 4px 0px;
}

.severity:hover{
	opacity: 1;
}

.selected {
	opacity: 1;
}

#expandButton {
	width:15px; 
	height:15px; 
	padding-right:5px;
}

.col1Div {
	float:left; 
	width:50%;
}

.col2Div {
	float:left; 
}