<!DOCTYPE html>
<html>
	<meta charset="UTF-8"> 
	<head>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript">
			function redirect() {
				var uri = document.getElementById("textinput").value.split('/');
				var repo = uri.slice(Math.max(uri.length - 2, 1))
				window.location.replace("/" + repo[0] + '/' + repo[1]);
				return false;
			}
		</script>
	</head>
	<body style="background-color:#C3DFEF">
		<div id="textinputDiv">
			<form id="textinputForm" method="post" onsubmit="return redirect()"> <!-- method="get" action="http://www.google.com"-->
				<input type="text" id="textinput" value="Enter url to Github repository"><input type="submit" value=">" id="checkbutton">
			</form>
		</div>
	</body>
</html>